@font-face {
    font-family: "CustomFont";
    src: url("asterone.ttf");
}

body {
    background-color: white;
}

#chart_div {
    min-height: 60vh;
    left: 10%;
    top: -20%;
}

.description {
    font-family: 'CustomFont';
    text-align: center;
}

.description span {
    font-size: 35px;
    font-weight: bold;
}